
.Testimonial-container{
   padding: 100px 180px;
}
.Testimonial-container h2{
    color: #EFCC18;
    font-size: 40px;
}
.innertest-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.innertext-test{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.testimonial1, .testimonial2, .testimonial3, .testimonial4, .testimonial5{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 10px 5px 0px;
}
 .client-info{
    width: 270px;
    background-color: rgb(192, 192, 192);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.client-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.client-info .clientname{
    background-color: transparent;
}
.clientname h4{
    font-size: 16px;
    color: black;
    background-color: transparent;
    
}
.clientname p{
    font-size: 14px;
    color: rgb(114, 114, 114);
    background-color: transparent;
    
}
.client-testimonial{
    width: 700px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}
.client-testimonial h3{
    font-size: 20px;
}
.yellow-star {
    color: #EFCC18; /* Change the color of the star to #EFCC18 */
    padding: 10px 0px;
}
/* Testimonial.css */

/* Other CSS styles */

/* .testimonial.active {
    box-shadow: 0px 0px 10px rgba(100, 235, 120, 0.954); 
  } */
  
  /* Other CSS styles */

  /* .client-info {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  } */
  .testimonial.active .client-info {
    box-shadow: 1px 1px 19px rgba(237, 236, 230, 0.352);
    background-color: white;
  }

  .text-container{
    /* background-color: rgb(255, 255, 255); */
    width: 65%;
    height: 50vh;
    padding: 10px;
  }
  .client-testimonial h3{
    font-size: 25px;
    font-style: italic;
  }
  .client-testimonial p{
    font-size: 25px;
    font-style: italic;

  }

  @media(min-width:300px) and (max-width:500px){
    .Testimonial-container{
        width: 50%;
        padding: 60px;
        margin: 0;
        height: 100vh;
    }
    .client-info{
        width: 220px;
    }
    .innertext-test{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .Testimonial-container .text-container{
        width: 200px;
        margin-left: 196px;
    }
    .client-testimonial{
        width: 400px;
    }
    .client-testimonial p{
        font-size: 20px;
    }
    .active{
        position: static;
    }
  }