.copy-container{
    text-align: center;
    background-color: #EFCC18;
    margin-top: 80px;
    padding: 20px;
    position: relative;
    bottom: 0;
    margin-bottom: 0;

}
.copy-container p{
    background-color: transparent;
}
@media(min-width:300px) and (max-width:500px){
    .copy-container{
    text-align: left;
    background-color: #EFCC18;
    margin-top: 80px;
    width: 430px;
    }
}